.title {
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	font-size: large;
}

.item {
	display: inline-block;
}

.itemImage {
	margin-left: 30px;
}

.itemText {
	font-size:30px;
	text-align: center;
	padding: 16px;
}

.itemSound {
	width: 200px;
	margin-left: 70px;
}

.footer {
	width: 100%;
	text-align: right;
}

.licence {
	display: inline-block;
	font-size: x-small;
	margin-right: 5px;
	margin-top: 30px;
}